#wrap_inner {
  width: 3000px;
}

.movie-card {
  background-color: #a52a2a;
  padding-bottom: 15px;
}

.mat-button {
  padding: 0;
}

.mat-icon-button {
  color: red;
  position: absolute;
  right: 5px;
  top: 5px;
}

.mat-card {
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.favourite-icon {
  align-items: right;
}